<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TCreditLogMapper">
    
    <resultMap type="TCreditLog" id="TCreditLogResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="opearteType"    column="opearte_type"    />
        <result property="opearteAmount"    column="opearte_amount"    />
        <result property="preBalance"    column="pre_balance"    />
        <result property="postBalance"    column="post_balance"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="refId"    column="ref_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTCreditLogVo">
        select id, customer_id, opearte_type, opearte_amount, pre_balance, post_balance, create_time, create_by, update_time, update_by, ref_id, remark from t_credit_log
    </sql>

    <select id="selectTCreditLogList" parameterType="TCreditLog" resultMap="TCreditLogResult">
        <include refid="selectTCreditLogVo"/>
        <where>  
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="opearteType != null "> and opearte_type = #{opearteType}</if>
            <if test="opearteAmount != null "> and opearte_amount = #{opearteAmount}</if>
            <if test="preBalance != null "> and pre_balance = #{preBalance}</if>
            <if test="postBalance != null "> and post_balance = #{postBalance}</if>
            <if test="refId != null  and refId != ''"> and ref_id = #{refId}</if>
        </where>
    </select>
    
    <select id="selectTCreditLogById" parameterType="Long" resultMap="TCreditLogResult">
        <include refid="selectTCreditLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTCreditLog" parameterType="TCreditLog" useGeneratedKeys="true" keyProperty="id">
        insert into t_credit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="opearteType != null">opearte_type,</if>
            <if test="opearteAmount != null">opearte_amount,</if>
            <if test="preBalance != null">pre_balance,</if>
            <if test="postBalance != null">post_balance,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="refId != null">ref_id,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="opearteType != null">#{opearteType},</if>
            <if test="opearteAmount != null">#{opearteAmount},</if>
            <if test="preBalance != null">#{preBalance},</if>
            <if test="postBalance != null">#{postBalance},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="refId != null">#{refId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTCreditLog" parameterType="TCreditLog">
        update t_credit_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="opearteType != null">opearte_type = #{opearteType},</if>
            <if test="opearteAmount != null">opearte_amount = #{opearteAmount},</if>
            <if test="preBalance != null">pre_balance = #{preBalance},</if>
            <if test="postBalance != null">post_balance = #{postBalance},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="refId != null">ref_id = #{refId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCreditLogById" parameterType="Long">
        delete from t_credit_log where id = #{id}
    </delete>

    <delete id="deleteTCreditLogByIds" parameterType="String">
        delete from t_credit_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>