<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TRealnameAuthMapper">
    
    <resultMap type="TRealnameAuth" id="TRealnameAuthResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="realName"    column="real_name"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="telegramId"    column="telegram_id"    />
        <result property="whatsappId"    column="whatsapp_id"    />
        <result property="status"    column="status"    />
        <result property="auditReason"    column="audit_reason"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTRealnameAuthVo">
        select id, customer_id, real_name, phone_number, telegram_id,whatsapp_id, status, audit_reason, audit_time, audit_by, create_time, update_time from t_realname_auth
    </sql>

    <select id="selectTRealnameAuthList" parameterType="TRealnameAuth" resultMap="TRealnameAuthResult">
        <include refid="selectTRealnameAuthVo"/>
        <where>  
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="telegramId != null  and telegramId != ''"> and telegram_id = #{telegramId}</if>
            <if test="whatsappId != null  and whatsappId != ''"> and whatsapp_id = #{whatsappId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="auditReason != null  and auditReason != ''"> and audit_reason = #{auditReason}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditBy != null  and auditBy != ''"> and audit_by = #{auditBy}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTRealnameAuthById" parameterType="Long" resultMap="TRealnameAuthResult">
        <include refid="selectTRealnameAuthVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTRealnameAuth" parameterType="TRealnameAuth" useGeneratedKeys="true" keyProperty="id">
        insert into t_realname_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="telegramId != null and telegramId != ''">telegram_id,</if>
            <if test="whatsappId != null and whatsappId != ''">whatsapp_id,</if>
            <if test="status != null">status,</if>
            <if test="auditReason != null">audit_reason,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phone_number},</if>
            <if test="telegramId != null and telegramId != ''">#{telegram_id},</if>
            <if test="whatsappId != null and whatsappId != ''">#{whatsapp_id},</if>
            <if test="status != null">#{status},</if>
            <if test="auditReason != null">#{auditReason},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTRealnameAuth" parameterType="TRealnameAuth">
        update t_realname_auth
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="telegramId != null and telegramId != ''">telegram_id = #{telegramId},</if>
            <if test="whatsappId != null and whatsappId != ''">whatsapp_id = #{whatsappId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="auditReason != null">audit_reason = #{auditReason},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTRealnameAuthById" parameterType="Long">
        delete from t_realname_auth where id = #{id}
    </delete>

    <delete id="deleteTRealnameAuthByIds" parameterType="String">
        delete from t_realname_auth where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>