<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TWithdrawRequestMapper">
    
    <resultMap type="TWithdrawRequest" id="TWithdrawRequestResult">
        <result property="withdrawId"    column="withdraw_id"    />
        <result property="withdrawAmount"    column="withdraw_amount"    />
        <result property="customerId"    column="customer_id"    />
        <result property="username"    column="username"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="realAmount"    column="real_amount"    />
        <result property="remark"    column="remark"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankNo"    column="bank_no"    />
        <result property="realName"    column="real_name"    />
    </resultMap>

    <sql id="selectTWithdrawRequestVo">
        select withdraw_id, withdraw_amount, customer_id, username, status, create_time, create_by,
               update_time, update_by, real_amount, remark,bank_name,bank_no,real_name from t_withdraw_request
    </sql>

    <select id="selectTWithdrawRequestList" parameterType="TWithdrawRequest" resultMap="TWithdrawRequestResult">
        <include refid="selectTWithdrawRequestVo"/>
        <where>  
            <if test="withdrawAmount != null "> and withdraw_amount = #{withdrawAmount}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="realAmount != null "> and real_amount = #{realAmount}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTWithdrawRequestByWithdrawId" parameterType="String" resultMap="TWithdrawRequestResult">
        <include refid="selectTWithdrawRequestVo"/>
        where withdraw_id = #{withdrawId}
    </select>
        
    <insert id="insertTWithdrawRequest" parameterType="TWithdrawRequest">
        insert into t_withdraw_request
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="withdrawId != null">withdraw_id,</if>
            <if test="withdrawAmount != null">withdraw_amount,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="username != null">username,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="realAmount != null">real_amount,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="withdrawId != null">#{withdrawId},</if>
            <if test="withdrawAmount != null">#{withdrawAmount},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="username != null">#{username},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="realAmount != null">#{realAmount},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTWithdrawRequest" parameterType="TWithdrawRequest">
        update t_withdraw_request
        <trim prefix="SET" suffixOverrides=",">
            <if test="withdrawAmount != null">withdraw_amount = #{withdrawAmount},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="realAmount != null">real_amount = #{realAmount},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where withdraw_id = #{withdrawId}
    </update>

    <delete id="deleteTWithdrawRequestByWithdrawId" parameterType="String">
        delete from t_withdraw_request where withdraw_id = #{withdrawId}
    </delete>

    <delete id="deleteTWithdrawRequestByWithdrawIds" parameterType="String">
        delete from t_withdraw_request where withdraw_id in 
        <foreach item="withdrawId" collection="array" open="(" separator="," close=")">
            #{withdrawId}
        </foreach>
    </delete>
</mapper>